body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 960px;
    height: 700px;
    margin-top: 10px;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    position: absolute;
    right: 100px;
}
#sidebar th {
    text-align: left;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 530px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}

.mathscitech {background: #0070A8; color:#ffffff;}
.healthsci {background: #136666; color:#ffffff;}
.comcom {background: #CE1836; color:#ffffff;}
.natureenv {background: #537D00; color:#ffffff;}
.human {background: #78000C; color:#ffffff;}
.socsci {background: #693C64; color:#ffffff;}
.thearts {background: #D93A12; color:#ffffff;}
.ed {background: #EDB10F; color:#ffffff;}
